# dependencies
node_modules
/.pnp
.pnp.js
build

# testing
/coverage

# production
/build

# misc
.wrangler
.DS_Store
*.pem
/.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env

# dist directories
/dist

# logging
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*